target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.idea/misc.xml
.idea/encodings.xml
.idea/aws.xml
.idea/sonarlint/securityhotspotstore/9/f/9f8dfd3652a014db96f317aa90d27c092d431b40
.idea/sonarlint/issuestore/9/f/9f8dfd3652a014db96f317aa90d27c092d431b40
.idea/sonarlint/securityhotspotstore/index.pb
.idea/workspace.xml
